@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

* html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto Mono", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url('/src/assets/background-main.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

.text-gray-700:hover .dropdown-content {
    display: block;
}

.gradient-bg-welcome {
    background-color: #000000;
    background-size: 100% 100%, 100% 100%;
    background-repeat: no-repeat;
    background-position: top center, bottom center;
}

/* white glassmorphism */
.white-glassmorphism {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.orange-glassmorphism {
    background: linear-gradient(to bottom, hsla(31, 100%, 50%, 0.4), transparent),
    linear-gradient(to bottom, hsla(0, 0%, 100%, 0.4), transparent);
    background-blend-mode: overlay, overlay;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.text-gradient {
    background-color: #fff;
    background-image: radial-gradient(at 4% 36%, hsla(0,0%,100%,1) 0, transparent 53%), radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@tailwind base;
@tailwind components;
@tailwind utilities;